<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 mb-5 mb-lg-0">
        <h5><i class="fas fa-cube me-2"></i>NgShop</h5>
        <p class="mt-3">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iste sunt
          libero voluptate ea. Rerum quasi id qui alias aliquam optio!
        </p>
        <div class="social-icons mt-4">
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-discord"></i></a>
          <a href="#"><i class="fab fa-github"></i></a>
        </div>
      </div>
      <div class="col-sm-4 col-lg-2 mb-4 mb-sm-0">
        <h5>Shop</h5>
        <ul class="list-unstyled">
          <li>
            <a href="#"><i class="fas fa-chevron-right"></i> All Products</a>
          </li>
          <li>
            <a href="#"><i class="fas fa-chevron-right"></i> New Releases</a>
          </li>
          <li>
            <a href="#"><i class="fas fa-chevron-right"></i> Best Sellers</a>
          </li>
          <li>
            <a href="#"><i class="fas fa-chevron-right"></i> Special Offers</a>
          </li>
        </ul>
      </div>
      <div class="col-sm-4 col-lg-2 mb-4 mb-sm-0">
        <h5>Company</h5>
        <ul class="list-unstyled">
          <li>
            <a href="#"><i class="fas fa-chevron-right"></i> About Us</a>
          </li>
          <li>
            <a href="#"><i class="fas fa-chevron-right"></i> Careers</a>
          </li>
          <li>
            <a href="#"><i class="fas fa-chevron-right"></i> Blog</a>
          </li>
          <li>
            <a href="#"><i class="fas fa-chevron-right"></i> Press</a>
          </li>
        </ul>
      </div>
      <div class="col-sm-4 col-lg-4">
        <h5>Newsletter</h5>
        <p>Subscribe to get updates on new products and special offers.</p>
        <form class="mt-3">
          <div class="input-group">
            <input
              type="email"
              class="form-control newsletter-input"
              placeholder="Your email"
            />
            <button class="btn newsletter-btn" type="button">
              <i class="fas fa-paper-plane"></i>
            </button>
          </div>
        </form>
        <div class="mt-4">
          <h5>Contact</h5>
          <p class="mb-1">
            <i class="fas fa-map-marker-alt me-2"></i> New cairo
          </p>
          <p class="mb-1">
            <i class="fas fa-envelope me-2"></i> user&#64;example.com
          </p>
          <p><i class="fas fa-phone me-2"></i> 01100000011</p>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <div class="row">
        <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
          <p class="mb-0">&copy; 2025 NgShop. All rights reserved.</p>
        </div>
        <div class="col-md-6 text-center text-md-end">
          <p class="mb-0">
            <a href="#" class="me-3">Privacy Policy</a>
            <a href="#" class="me-3">Terms</a>
            <a href="#">Sitemap</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
