<section id="work" class="work">
  <div class="container">
    <h2 class="section-title text-center">Portfolio</h2>

    <div class="projects-grid">
      <div class="project-card">
        <div class="project-image" style="background-color: #2a1a3a"></div>
        <div class="project-info">
          <h3>Lorem ipsum dolor sit.</h3>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>
      </div>

      <div class="project-card">
        <div class="project-image" style="background-color: #0a2a3a"></div>
        <div class="project-info">
          <h3>Lorem ipsum dolor sit.</h3>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>
      </div>

      <div class="project-card">
        <div class="project-image" style="background-color: #3a2a1a"></div>
        <div class="project-info">
          <h3>Lorem ipsum dolor sit amet.</h3>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsa.</p>
        </div>
      </div>
    </div>

    <div class="text-center mt-5">
      <a href="#" class="btn btn-outline-light">View All Projects</a>
    </div>
  </div>
</section>
