<section id="about" class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-5">
        <h2 class="section-title">About Me</h2>
        <div class="about-image-container">
          <div class="about-image"></div>
        </div>
      </div>
      <div class="col-lg-7">
        <div class="about-content">
          <p class="lead">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae
            eveniet, laborum commodi delectus corrupti asperiores quo nemo,
            tempora dolorum dicta voluptatum illum maiores, perferendis sequi
            magni placeat doloremque quod. Beatae.
          </p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga ut
            laborum quasi repellat et nostrum obcaecati distinctio modi ratione
            quidem!
          </p>

          <div class="skills-matrix mt-5">
            <div class="skill-category">
              <h4>Lorem.</h4>
              <ul>
                <li>Lorem, ipsum dolor.</li>
                <li>Lorem ipsum dolor sit.</li>
                <li>Lorem ipsum dolor sit amet.</li>
              </ul>
            </div>
            <div class="skill-category">
              <h4>Lorem, ipsum.</h4>
              <ul>
                <li>Lorem, ipsum dolor.</li>
                <li>Lorem ipsum dolor sit.</li>
                <li>Lorem ipsum dolor sit amet.</li>
              </ul>
            </div>
          </div>

          <a href="#" class="btn btn-outline-light mt-4">Download CV</a>
        </div>
      </div>
    </div>
  </div>
</section>
